/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Cambria";
    src: url("/fonts/758d40d7ca52e3a9bff2655c7ab5703c.eot"); /* IE9*/
    src: url("/fonts/758d40d7ca52e3a9bff2655c7ab5703c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/758d40d7ca52e3a9bff2655c7ab5703c.woff2") format("woff2"), /* chrome firefox */
    url("/fonts/758d40d7ca52e3a9bff2655c7ab5703c.woff") format("woff"), /* chrome firefox */
    url("/fonts/758d40d7ca52e3a9bff2655c7ab5703c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.svg#Cambria") format("svg"); /* iOS 4.1- */
}
