<style>

	#header-splash {

		position: absolute;

	}

</style>

<head>
    <title>BeClutch!</title>
</head>

<div class="start-page-section" style="background-color: #7FB522">

	<div class="start-page-section-7-1">

		<div class="start-page-section-inner">

			<div>

				<span>

					Be organized, Be successful...BeClutch<br>BeClutch! was designed with the sole purpose of providing a platform for businesses, clubs, and teams to communicate and organize all events and activities in one place.<br> With Beclutch, several Apps are no longer needed to meet all the organizational needs of a group of any size.<br>Handle communication via chats, coordinate schedules, calendar events, and manage finances easily with intuitive and simple to use interfaces.<br>An organized team/group is a successful team/group.

				</span>

			</div>

		</div>

	</div>



	<div class="start-page-section-1-2 start-page-section-inner" id="features">

		<div>

			<i class="fa fa-comments"></i>

			<b>COMMUNICATE</b>

			<span>Use the BeClutch Chat feature for real time communication between all members or individuals to coordinate business, social, fundraising and sporting events. </span>

		</div>

		<div>

			<i class="fa fa-calendar" aria-hidden="true"></i>

			<b>PLAN AHEAD</b>

			<span>Schedule upcoming events and view past events in the BeClutch Calendar feature.  See start/finish/arrival times, set availability, receive reminders and even set carpool needs.</span>

		</div>

		<div>

			<i class="fa fa-dollar" aria-hidden="true"></i>

			<b>MANAGE FINANCES</b>

			<span>Track all finances using the BeClutch Finance feature.  This conveniently allows for individual member payments in one place for seamless management of funds and and budgets.</span>

		</div>

		<div>

			<i class="fa fa-list" aria-hidden="true"></i>

			<b>TAKE SURVEYS</b>

			<span>Gather information about about individual availability and preferences by using the BeClutch Survey feature.</span>

		</div>

	</div>
	<div class="start-page-section-1-2 start-page-section-inner">

	    <div>

			<i class="fas fa-user-check" aria-hidden="true"></i>

			<b>STAY INFORMED</b>

			<span>The BeClutch Attendance feature allows you to know who and how many will be attending an event as well as who attended past events. </span>

	    </div>

	    <div>

			<i class="fa fa-paint-brush"></i>

			<b>MAKE IT PERSONAL</b>

			<span>Use the BeClutch Themes feature to assign the colors and logo that represent your group or team.</span>

	    </div>

	    <div>

			<i class="fa fa-bell" aria-hidden="true"></i>

			<b>BE PREPARED</b>

			<span> Inform your group or team of up to the minute and spontaneous plan changes using the BeClutch Alert feature and the BeClutch Reminder feature to be sure essential information is not forgotten.</span>

	    </div>

	    <div>

			<i class="fa fa-users" aria-hidden="true"></i>

			<b>BE IN TOUCH</b>

			<span>With the BeClutch Roster feature all member contact information in one place making communication and coordination with group members convenient and easy.</span>

	    </div>

    </div>

</div>


















