<style>

	#header-sub {

		position: absolute;

	}

</style>

<div class="pagination">

	<div class="pagination-inner">
		<span><a href="/">Home</a></span>
		<span><a href="/support">Support</a></span>

	</div>
</div>
<div class="support-page-section" id="product-eos">

    <div class="start-page-section-2-1 start-page-section-inner div" style="background: white; padding-top: 10px;">
        <h2 style="color:#555;">Support</h2>
        
        <h2 style="font-family: 'Arima Madurai', cursive;padding: 10px; font-size: 20px;margin-top: 10px">Contact support</h2>
        <h2 style="font-family: 'Arima Madurai', cursive;padding: 10px; font-size: 20px;">Email: support@beclutch.club</h2>
            
        <div style="margin-top: 10px;">
            <span><a href="#support-faq" class="button button-faq" id="to_faq">FAQ</a></span>
            <span><a href="#support-troubleshooting" class="button button-faq" id="to_troubleshooting">Troubleshooting</a></span>
            <span><a href="#support-instruction" class="button button-faq" id="to_instruction">Guides</a></span>
        </div>
        
    </div>

</div>

<div class="start-page-section-4-1 start-page-section" style="background: white; padding-bottom: 0px" id="instructions">

   <div class="start-page-section-inner">
        <div class="horizontal-bar"></div>
        <h2 id="support-faq" style="color: #555;">FAQ</h2>
        <button class="accordion">What do I do when I receive an Invitation to join a team/group? <span><img class="img-indicator"></span> </button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Copy the invitation code sent to you in the Invitation Email and follow the directions in the Email.  If you do not have an existing account you will need to download the App and register before you can join.  Refer to Joining a team/group with an existing account or Joining a team/group without an existing account in this section.<br><br>
                Joining a team/group with an existing account: <br>
                Copy the invitation code you received in the Invitation email sent by your Team or Group Leader<br>
                Log into your BeClutch account<br>
                Click the Team Name Menu Bar located at the top of the screen (Below the heading HOME)<br>
                Click the Red plus on the bottom right of the screen<br>
                Click Join a Team<br>
                Paste the Invitation Code copied from the Invitation Email into the Invitation Code field<br>
                Click accept<br><br>
                Joining a team/group without an existing account<br>
                Copy the invitation code you received in the Invitation email sent by your Team or Group Leader<br>
                Download the BeClutch App from Google Play Store or Apple Store<br>
                Click the Register button on the lower half of the screen<br>
                Fill in the fields on the Register for BeClutch page being sure to use the Email address the invitation code was sent to<br>
                Fill in primary contact information, click Done<br>
                Select accept invitation<br>
                Paste the invitation code that was copied from the invitation email into the Invitation Code Field, click Done<br><br>
            </p>
            
            <p><br></p>
        </div>

        <button class="accordion">How Do I Register for BeClutch?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Download the Beclutch App from Google Playstore or The App Store<br>
                Click the Register button at the bottom of the page<br>
                Fill in the fields on Register for BeClutch page, click next<br>
                Fill out Primary Contact Information on the next Register for BeClutch page, click next<br>
                Select Accept Invitation<br>
                Enter the Invitation Code you received in your Invitation Email sent to you from BecClutch.<br>
                Enjoy BeClutch!<br><br>
            </p>
        </div>

        <button class="accordion">What does Representing Player mean?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Representing Player is a feature that allows an adult to represent a player on a Team. When accepting an invitation, fill in the primary contact information with the adults’s information.  All correspondence and communication will now go to you as the adult while the minor is listed on the Roster.<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I reset my Password?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Reset password is in your account Info.  Access this by clicking on the Settings icon in the navigation bar on the bottom of the screen.<br><br>
            </p>
        </div>

        <button class="accordion">What is the difference between a Contact and a Guest?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>A contact has more permissions than a guest.  A contact can set availability, answer surveys and view finances.<br><br></p>
        </div>

        <button class="accordion">How do I set Home and Away Jersey colors for a game?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                There are 2 ways to set the Jersey color. If you go through settings and set default colors those jersey colors will show whenever you create a new game.  Follow directions below:<br><br>
                Click the settings icon in the navigation bar on the lower right side of the screen. Go to Team Settings.  Scroll down to Uniform colors.  Click in the box next to home and/or away and choose your color. Click save.<br><br>
                If you did not set default colors in Settings you can choose a Jersey color when creating a game through Calendar.  Follow directions below:<br>
                Click the Calendar icon in the Navigation bar.  Click the Red Plus to create a new game. Click on the Jersey and a color palette will appear to choose your Jersey color for a home or away game.<br><br>
            </p>
        </div>

        <button class="accordion">How do I set a color theme?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Access color themes in the Settings.  Click on the Settings icon in the Navigation Bar at the bottom of the screen.  Click on Team or Group Settings.  Scroll down to Themes heading.  Click on the box next to Theme color,  choose a color, click Save and enjoy your personalized color theme!<br><br>
            </p>
        </div>

        <button class="accordion">How do I add a Logo or Picture?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                This feature is in Settings.  To access it press the Settings icon in the Navigation bar at the bottom of the screen.  Go to Team or Group Settings. Click on Edit Picture and choose from your gallery or camera.<br><br>
            </p>
        </div>

        <button class="accordion">How do I create a Survey?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Only a Super-user (Coach/Manager) can create and send a survey.  In order to access the Surveys feature you will have to go to Settings by clicking on the Settings icon in the Navigation Bar on the bottom of the screen on the Home Page.  Under Advanced Features click Surveys.  Click on the Red Plus button on the top right of the screen.  Once the Red Plus button is clicked you can fill out the information on the Add Survey page and click to save.  The Survey will be sent to your Team or Group and Reminders will be sent if  you chose that option.<br><br>
            </p>
        </div>

        <button class="accordion">How do I respond to a Survey?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                In order to access the Surveys feature you will have to go to Settings by clicking on the Settings icon in the Navigation Bar on the bottom of the screen on the Home Page.  Under Advanced Features click Surveys. Once you see the Name of the Survey you are going to respond to click the down arrow to expand the Survey.  Click on the answer you want tallied and click Submit.<br><br>
            </p>
        </div>

        <button class="accordion">How do I create a Finance?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Click the Menu icon in the Navigation Bar on the lower right of the screen<br>
                Click Finances in the Advanced Features section of Settings<br>
                Click the Red Plus button on the upper right of the screen<br>
                Choose who this fee will be sent to<br>
                Fill in the appropriate fields being sure to assign a due date<br>
                Reminders with be automatically sent daily unless you unclick the Send Reminders box<br>
                Click Save<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I apply a Finance?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Click the Menu icon in the Navigation Bar on the lower right of the screen
                Click Finances in the Advanced Features section of Settings
                Click the Blue down arrow to expand the field of the Finance you are accessing
                Enter the amount to be applied
                Click apply payment<br><br>
            </p>
        </div>
        
        <button class="accordion">How Do I Make a Volunteer list?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                There are 2 ways to create a Volunteer list.  You can make a Volunteer list that is attached to an event through the Calendar section of the App or you can access Volunteers through Settings which allows you to have a Volunteer list that is not attached to a specific date or event.<br><br>
                To create a Volunteer List attached to a Calendar event access your events by clicking on the Calendar Icon on the left side of the Navigation bar on the Home Page.  Click the blue arrow to expand the event you would like to make a list for.  Click the Volunteer Icon (raised hands).  Click the Red Plus sign on the upper right hand side of the screen and fill out the Add Assignment page. You can save the assignment to complete the list or you can choose Save and Add to add another Assignment.<br><br>
                To create a Volunteer list through settings From the Home Page click the Menu icon in the Navigation Bar on the lower right of the screen.  Click Volunteers in the Advanced Features section of Settings. Click the Red Plus sign on the upper right hand side of the screen and fill out the Add Assignment page. You can save the assignment to complete the list or you can choose Save and Ddd to add another Assignment.<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I sign up for a Volunteer slot?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Access your Volunteer list either through Settings or an event.  Open the list by tapping on the list name.  Click the down arrow on the list you are trying to sign up for.  Tap on one of the sign up boxes.<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I subscribe to a Calendar so I can view events on my Apple, Google or Outlook Calendar?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                Click the Menu icon in the Navigation Bar on the lower right of the screen<br>
                Click Team/Group/Club Settings in the Team/Group/Club Management section of Settings<br>
                Click on the Calendar you would like to subscribe to in order to access the easy to follow directions for Calendar Subscription<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I view past events on the Calendar?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                While on the Calendar swipe down and Historical events will appear<br><br>
            </p>
        </div>
        
        <button class="accordion">How do I access advanced features on BeClutch?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                When trying to access Advanced Features, click on the "Learn More" button to receive a detailed email with instructions. <br><br>
            </p>
        </div>

    </div>  

</div>


<div class="start-page-section-5-1 start-page-section" style="background: white; padding-top:0px;" id="faq">

    <div class="start-page-section-inner">
        <div class="horizontal-bar"></div>
        <h2 id="support-troubleshooting" style="color: #555;">Troubleshooting</h2>
        <button class="accordion">Why am I pending on the team roster?<span><img class="img-indicator"></span> </button>
        <div class="panel">
            <p style= "color: #000;"><br>
                You are pending on a Roster until you accept the invitation sent to you from your Team Leader. <br><br>
            </p>
        </div>
        
        <button class="accordion">Why do I keep having to login even though I check auto login?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                If someone logs on with your login credentials on a different device you will have to re-log in on your device.<br><br>
            </p>
        </div>
        <button class="accordion">Why am I not getting alerts for my incoming Chat messages?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                If someone on another device has logged in with your credentials then this will interrupt your ability to receive alerts.  Log out to the app on your device and then log back in.<br><br>
            </p>
        </div>
        <button class="accordion">Why am I having trouble joining a group/team?<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p style= "color: #000;"><br>
                You must be sure you are using the Email address that your invitation was sent to in order for registration to be completed when joining a group/team.<br><br>
            </p>
        </div>
       
    </div>

</div>

<div class="start-page-section-6-1 start-page-section" style="background-color: #E4E4E6; padding-bottom: 0px" id="instructions">
    <div class="start-page-section-inner">
        <div style="width: 100%; height: 2px; background: #a1af36;margin-bottom: 100px"></div>
        <h2 id="support-instruction">Guides</h2>
        <div style="margin-top: 20px;margin-bottom: 20px;">
            <a style="text-decoration: none; font-size: 20px;" href="/install-instruction">Functionality Guides</a>
        </div>
        <button class="accordion">Add to Roster<span><img class="img-indicator"></span> </button>
        <div class="panel">
            <video width="100%" controls>
              <source src="/video/add_to_roster.mp4" type="video/mp4">
              Your browser does not support HTML video.
            </video>
        </div>
    </div>
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>



















