<style>

	#header-sub {

		position: absolute;

	}

</style>

<div class="start-page-section-6-1 start-page-section" style="background: #6A912B; padding-bottom: 0px" id="instructions">

   <div class="start-page-section-inner">
        <div class="horizontal-bar"></div>
        <h2 id="support-faq" style="color: #555;">Upgrade</h2>
		
		<p>Click Upgrade to access features that will give you the ability to manage a group of any size with more ease and efficiency!</p>
		<p></p>
		<p>Upgrade Now button centered</p>
		<p>$59.99 billed annually</p>
		<p>($4.99/month)</p>
		<p></p>
		<p>Here are the features you will add with your upgrade:</p>
		<p></p>
        <button class="accordion">Unlimited Roster Members<span><img class="img-indicator"></span> </button>
        <div class="panel">
            <p>Add unlimited roster members.</p>
        </div>

        <button class="accordion">Surveys<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Send out surveys to gather information about individual availability and preferences.</p>
        </div>

        <button class="accordion">Notifications<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Receive Notifications for items created, edited and/or canceled including Events, Surveys, Fees and Volunteer requests.</p>
        </div>

        <button class="accordion">Attendance<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p> Lets you know who and how many will be attending an event as well as who attended past events with Attendance Reports.</p>
        </div>

        <button class="accordion">Themes and Customization<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Set the colors and logo or picture that represents your group or team.</p>
        </div>

        <button class="accordion">Volunteers and Event Sign Ups<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Create volunteer lists for member sign up, reminders are sent out to encourage participation.</p>
        </div>

        <button class="accordion">Reminders<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Send out Reminders so that essential information will not be missed or forgotten.</p>
        </div>

        <button class="accordion">Carpool<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>With one touch alert your group that you need a ride to an event.</p>
        </div>

        <button class="accordion">Alerts<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Inform your group or team of up to the minute and spontaneous plan changes.</p>
        </div>

        <button class="accordion">Premium Support<span><img class="img-indicator"></span></button>
        <div class="panel">
            <p>Response time for assistance within 12 hours.</p>
        </div>

    </div>  

</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>



















